name: C++ Docker CI/CD Pipeline

on:
  push:
    branches:
      - main
      - betatest

jobs:
  build_and_push_image:
    runs-on: ubuntu-latest
    environment: Parallel class

    steps:
      - name: Checkout Repository Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            arminposadas23/mensaje-pila:${{ github.ref_name }}
